.App {
  text-align: center;
}

.Row{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Privy-logo {
  height: 6vmin;
  margin-top: 100px;
  margin-left: 100px;
}

.Privy-title {
  margin-top: 30px;
  margin-left: 150px;
}
.Privy-desc {
  width: 365px;
  margin-left: 150px;
}
