.Card {
    width: 365px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 100px;
}

input[type=text] {
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 45vmin;
    height: 4vmin;
    border-radius:10px;
    border: 1px solid grey;

}

input[type=password] {
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 45vmin;
    height: 4vmin;
    border-radius:10px;
    border: 1px solid grey;

}
.Login {
    background: red;
    border-radius: 10px;
    padding: 8px 150px;
    border: none;
    margin-top: 15px;
    color:#fff;
    text-align: center;

}
.Reset {
    background: white;
    border-radius: 10px;
    padding: 8px 150px;
    border: 1px solid grey;
    margin-top: 15px;
    color:grey;
    text-align: center;
}

.box {
    margin-top: 10px;
    margin-bottom: 10px;

}
.subTitle {
    margin-top: 10px;
    margin-bottom: 20px;
}

.field-select {
    margin-bottom: 20px;
}

.tab {
    margin-top: 20px;
}